<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZaoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ZaoApp.Properties.Settings>
            <setting name="开始日期" serializeAs="String">
                <value>2025-09-01</value>
            </setting>
            <setting name="结束日期" serializeAs="String">
                <value>2025-10-08</value>
            </setting>
            <setting name="时间段" serializeAs="String">
                <value>13:00-13:57,13:58-13:59,14:17-14:18,14:19-16:03</value>
            </setting>
        </ZaoApp.Properties.Settings>
    </userSettings>
</configuration>
